
[Desktop Entry]
Version=1.0
Type=Application
Name=Monitor Secador
Comment=Sistema de monitoreo con UV

# Ruta a tu script lanzador
Exec=/home/alternas/Proyectos/monitor-cli/lanzador.sh

# IMPORTANTE: Esto le dice a Ubuntu que abra una ventana negra (terminal)
Terminal=true

# Puedes usar un icono genérico o poner la ruta a una imagen .png tuya
#Icon=utilities-terminal
Icon=/home/alternas/Proyectos/monitor-cli/icons/monitor.png
# Categoría (opcional)
Categories=Utility;Application;
